@charset "uft-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

h1 {
    color: rgb(110, 44, 44);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(circle, rgb(255, 105, 105) 0%, rgb(255, 239, 22) 100%)


}

a {
    color: #f1eeee;
    text-decoration: none;

}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;

}

.main-header h1 {
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom: 1.2em;


}

.main-header h1 span {
    color: #000000;

}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    gap: 2em;
    background: #b8e9e9;
    margin-bottom: 2em;
    border-radius: 20px;

}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card div {
    padding: 2em;
}

.card h3 {
    margin-bottom: 2em;

}

.card:nth-child(even) img {
    order: 2;

}

.btn {
    display: inline-block;
    background: #17d8d8;
    color: #ffffff;
    padding: 0.8em 1.8em;
    margin-top: 2em;
    cursor: default;
    border-radius: 15px;

}

.btn:hover {
    background-color: #ffd900;
    opacity: 0.8;
    box-shadow: 4px 4px 2px;
    padding: 0.8em;

}

.galeria {
    margin: 2em;
    display: flex;
    height: 16em;
    gap: 0.5em;

}

.galeria div {
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);

}

.galeria div:hover {
    flex: 4;

}

.galeria:hover div:not(:hover) {
    filter: blur(5px);
    filter: contrast(200%);

}

.rosangela {
    height: 100%;

}

.fernanda {
    height: 100%;

}

.flavia {
    height: 100%;

}

.angela {
    height: 100%;

}

.louise {
    height: 100%;

}

.card rosangela {
    padding: 3;

}

.card fernanda {
    padding: 3;

}

.card flavia {
    padding: 3;

}

.card angela {
    padding: 3;
}

.card louise {
    padding: 3;
}

footer{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    background-color: #7fffd4;
}

.agradecimentos{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    background-color: #7fffd4;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.insta{
    width: 24px;
    height: 24px;
}

.git{
    width: 24px;
    height: 24px;
}